# Prerequisites
*.d

# Compiled Object kFiles
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module kFiles
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.in_
*.app


# ArchiveWriter
*.haf

# Data kFiles
/data/

# Cnake kFiles
/cmake-build-debug/

# IDEA Files
.idea/
